/* CSS GENERAL */

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  max-width: 1060px;
}

h1 {
  font-family: "Mandali", sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  margin: 0%;
  line-height: 100%; /* gérer l'interlignage*/
}

h2 {
  color: #6e8e9b;
}

nav {
  margin-left: 30px;
  margin-right: 30px;
}

.btn {
  border: 1px solid white;
  padding: 8px 18px;
  margin: 10px;
  border-radius: 50px;
  background-color: white;
  color: black;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.btn:hover,
input[type="radio"]:checked + label {
  background-color: #6e8e9b;
  color: white;
}

/* CSS PAR SECTION */

header {
  background-image: url(img/yogamat.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 150px;
}

header div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  margin-left: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#concept article {
  display: flex;
}

@media (min-width:991px){
#concept article:nth-of-type(odd) {
  flex-direction: row-reverse;
}s
}


#concept article img {
  height: 90px;
  margin-right: 40px;
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(206, 205, 205, 0.481);
  border-radius: 50%;
  border-width: 150%;
}

#barre::after {
  content: "";
  display: block;
  width: 0px;
  height: 50px;
  border: 2px solid #6e8e9b;
  margin-top: 25px;
  margin-bottom: 25px;
}

#cours article {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#cours div {
  display: flex;
  align-items: center;
}

#cours h2 {
  margin: 0px;
}

#cours img {
  width: 30%;
}

#rappel {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.proposition {
  display: flex;
}

.proposition select {
  margin-left: 10px;
}

/* tablette entre 768px et 991px */
@media (min-width: 768px) and (max-width: 990px) {
  #cours article{
    align-items: center;
  }
}

/* mobile < 768px*/
@media (max-width: 767px) {
  
}
